@charset "UTF-8";

/*京东的topbanner部分*/
.topbanner{
    background-color: #8A25C6;
}
.tp{
    position: relative;
}
.close-banner{
    width: 19px;
    height:19px;
    position: absolute;
    top:5px;
    right:0;
    background: url(../images/close.png) no-repeat;
}
.close-banner:hover{
    background: url(../images/close.png) 0 -19px no-repeat;
}

/*京东的搜索部分*/
.logo{
    width:360px;
    height: 75px;
    background-color: pink;
    padding-top: 25px;
    background: url(../images/logo.png) left center no-repeat;

    float: left;
    position: relative;
}
.logo-title{
    width: 100px;
    height: 50px;
    display: inline-block;
    text-indent: -2000px;
}
.db11{
    position: absolute;
    width: 180px;
    height: 80px;
    top:3px;
    right: 10px;
}
.search{
    width: 538px;
    height: 75px;
    background-color: green;
    padding-top: 25px;
    float: left;
}
.car{
    width: 139px;
    height: 34px;
    background-color: blue;
    margin: 25px 65px 0 0;

    float: right;
}